@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
   padding:0;
   margin:0;
   box-sizing:border-box;
   font-family:'Raleway',sans-serif;
}

section.top
{
   position:relative;
}

@media screen and (min-width: 240px) {
   html
   {
      scroll-behavior:smooth;
   }

   section.top
   {
      position:relative;
      background:#3c3b3a;
   }

   section.top .container
   {
      max-width:1440px;
      margin:auto;
      padding:0 20px;
   }

   section.top .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.top .container .content .logo
   {
      flex-basis:100%;
      text-align:center;
   }

   section.top .container .content .menu
   {
      text-align:center;
      flex-basis:100%;
      position:relative;
   }

   section.top .container .content .menu nav
   {
      position:relative;
      display:block;
   }

   section.top .container .content .menu nav ul
   {
      list-style:none;
   }

   section.top .container .content .menu nav ul li
   {
      margin:0 0 20px;
   }

   section.top .container .content .menu nav ul li a
   {
      text-decoration:none;
      font-size:16px;
      color:#f2f2f2;
   }

   section.top .container .content .menu nav ul li:nth-child(3) a
   {
      font-weight:600;
   }

   section.top .container .content .logo img
   {
      width:30%;
   }

   section.contact
   {
      position:relative;
      padding:20px 0;
   }

   section.contact .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.contact .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.contact .container .content .contact
   {
      flex-basis:100%;
   }

   section.contact .container .content .contact h3
   {
      font-size:3em;
      color:#3c3b3a;
   }

   section.contact .container .content .contact p
   {
      font-size:1.25em;
      line-height:2em;
      color:#3c3b3a;
      font-weight:400;
      padding:20px 0;
   }

   section.contact .container .content .img
   {
      flex-basis:100%;
   }

   section.contact .container .content .img img
   {
      width:100%;
   }

   section.contact .container .content .from
   {
      flex-basis:100%;
   }

   section.contact .container .content .from .form-contact
   {
      background:#26a682;
      padding:20px;
      border-radius:20px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
   }

   section.contact .container .content .from .form-contact h3
   {
      color:#f2f2f2;
      font-weight:600;
      font-size:2em;
   }

   section.contact .container .content .from .form-contact label
   {
      display:inline-block;
      width:100%;
      color:#f2f2f2;
      font-weight:200;
      margin:0 0 5px;
   }

   section.contact .container .content .from .form-contact div
   {
      margin:10px 0 0;
   }

   section.contact .container .content .from .form-contact input
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:10px 15px;
      outline:none;
      border:none;
      border-radius:20px;
   }

   section.contact .container .content .from .form-contact input[type="submit"]
   {
      background:#3c3b3a;
      color:#f2f2f2;
      font-weight:600;
      font-size:24px;
      margin-top:10px;
      padding:10px 5px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
   }

   section.contact .container .content .from .form-contact textarea
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:10px 15px;
      outline:none;
      border:none;
      border-radius:20px;
   }

   section.map
   {
      position:relative;
      padding:20px 0 0;
   }

   section.map .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.map .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.map .container .content .text
   {
      flex-basis:100%;
   }

   section.map .container .content .text h3
   {
      color:#3c3b3a;
      font-size:2.2em;
   }

   section.map .container .content .text p
   {
      font-size:1.5em;
      color:#3c3b3a;
      font-weight:400;
      margin:20px 0;
   }

   section.map .container .content .text ul.nav
   {
      list-style:none;
   }

   section.map .container .content .text ul.nav li
   {
      font-size:1em;
      margin:0 0 20px;
   }

   section.map .container .content .map
   {
      flex-basis:100%;
   }

   section.map .container .content .map .fr
   {
      width:100%;
   }

   section.map .container .content .map .fr iframe
   {
      width:100%;
   }

   section.footer
   {
      position:relative;
      background:#3c3b3a;
      padding:20px 0;
   }

   section.footer .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.footer .container .content
   {
      text-align:center;
   }

   section.footer .container .content p
   {
      color:#f2f2f2;
      font-size:24px;
   }

   section.footer .container .content ul
   {
      display:flex;
      justify-content:center;
      align-items:center;
      list-style:none;
      padding:10px 0 0;
   }

   section.footer .container .content ul li
   {
      margin:0 5px;
   }

   section.footer .container .button img
   {
      width:40%;
   }

   section.footer .container .button
   {
      position:absolute;
      bottom:50%;
      transform:translateY(50%);
      right:5%;
      text-align:center;
      color:#f2f2f2;
      font-size:12px;
   }

   section.footer .container .button a
   {
      text-decoration:none;
      color:#fff;
   }
}

@media screen and (min-width: 360px) {
   html
   {
      scroll-behavior:smooth;
   }

   section.top
   {
      position:relative;
      background:#3c3b3a;
   }

   section.top .container
   {
      max-width:1440px;
      margin:auto;
      padding:0 20px;
   }

   section.top .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.top .container .content .logo
   {
      flex-basis:100%;
      text-align:center;
   }

   section.top .container .content .menu
   {
      text-align:center;
      flex-basis:100%;
      position:relative;
   }

   section.top .container .content .menu nav
   {
      position:relative;
      display:block;
   }

   section.top .container .content .menu nav ul
   {
      list-style:none;
   }

   section.top .container .content .menu nav ul li
   {
      margin:0 0 20px;
   }

   section.top .container .content .menu nav ul li a
   {
      text-decoration:none;
      font-size:16px;
      color:#f2f2f2;
   }

   section.top .container .content .menu nav ul li:nth-child(3) a
   {
      font-weight:600;
   }

   section.top .container .content .logo img
   {
      width:30%;
   }

   section.contact
   {
      position:relative;
      padding:20px 0;
   }

   section.contact .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.contact .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.contact .container .content .contact
   {
      flex-basis:100%;
   }

   section.contact .container .content .contact h3
   {
      font-size:3em;
      color:#3c3b3a;
   }

   section.contact .container .content .contact p
   {
      font-size:1.25em;
      line-height:2em;
      color:#3c3b3a;
      font-weight:400;
      padding:20px 0;
   }

   section.contact .container .content .img
   {
      flex-basis:100%;
   }

   section.contact .container .content .img img
   {
      width:100%;
   }

   section.contact .container .content .from
   {
      flex-basis:100%;
   }

   section.contact .container .content .from .form-contact
   {
      background:#26a682;
      padding:20px;
      border-radius:20px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
   }

   section.contact .container .content .from .form-contact h3
   {
      color:#f2f2f2;
      font-weight:600;
      font-size:2em;
   }

   section.contact .container .content .from .form-contact label
   {
      display:inline-block;
      width:100%;
      color:#f2f2f2;
      font-weight:200;
      margin:0 0 5px;
   }

   section.contact .container .content .from .form-contact div
   {
      margin:10px 0 0;
   }

   section.contact .container .content .from .form-contact input
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:10px 15px;
      outline:none;
      border:none;
      border-radius:20px;
   }

   section.contact .container .content .from .form-contact input[type="submit"]
   {
      background:#3c3b3a;
      color:#f2f2f2;
      font-weight:600;
      font-size:24px;
      margin-top:10px;
      padding:10px 5px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
   }

   section.contact .container .content .from .form-contact textarea
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:10px 15px;
      outline:none;
      border:none;
      border-radius:20px;
   }

   section.map
   {
      position:relative;
      padding:20px 0 0;
   }

   section.map .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.map .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.map .container .content .text
   {
      flex-basis:100%;
   }

   section.map .container .content .text h3
   {
      color:#3c3b3a;
      font-size:2.2em;
   }

   section.map .container .content .text p
   {
      font-size:1.5em;
      color:#3c3b3a;
      font-weight:400;
      margin:20px 0;
   }

   section.map .container .content .text ul.nav
   {
      list-style:none;
   }

   section.map .container .content .text ul.nav li
   {
      font-size:1em;
      margin:0 0 20px;
   }

   section.map .container .content .map
   {
      flex-basis:100%;
   }

   section.map .container .content .map .fr
   {
      width:100%;
   }

   section.map .container .content .map .fr iframe
   {
      width:100%;
   }

   section.footer
   {
      position:relative;
      background:#3c3b3a;
      padding:20px 0;
   }

   section.footer .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.footer .container .content
   {
      text-align:center;
   }

   section.footer .container .content p
   {
      color:#f2f2f2;
      font-size:24px;
   }

   section.footer .container .content ul
   {
      display:flex;
      justify-content:center;
      align-items:center;
      list-style:none;
      padding:10px 0 0;
   }

   section.footer .container .content ul li
   {
      margin:0 5px;
   }

   section.footer .container .button img
   {
      width:40%;
   }

   section.footer .container .button
   {
      position:absolute;
      bottom:50%;
      transform:translateY(50%);
      right:5%;
      text-align:center;
      color:#f2f2f2;
      font-size:12px;
   }

   section.footer .container .button a
   {
      text-decoration:none;
      color:#fff;
   }
}

@media screen and (min-width: 640px) {
   html
   {
      scroll-behavior:smooth;
   }

   section.top
   {
      position:relative;
      background:#3c3b3a;
   }

   section.top .container
   {
      max-width:1440px;
      margin:auto;
      padding:0 20px;
   }

   section.top .container .content
   {
      display:flex;
      flex-wrap:wrap;
      align-items:center;
   }

   section.top .container .content .logo
   {
      flex-basis:20%;
      text-align:center;
   }

   section.top .container .content .menu
   {
      text-align:center;
      flex-basis:80%;
      position:relative;
   }

   section.top .container .content .menu nav
   {
      position:relative;
      display:block;
   }

   section.top .container .content .menu nav ul
   {
      list-style:none;
      display:flex;
      justify-content:flex-end;
   }

   section.top .container .content .menu nav ul li
   {
      margin:0 20px;
   }

   section.top .container .content .menu nav ul li a
   {
      text-decoration:none;
      font-size:16px;
      color:#f2f2f2;
   }

   section.top .container .content .menu nav ul li:nth-child(3) a
   {
      font-weight:600;
   }

   section.top .container .content .logo img
   {
      width:30%;
   }

   section.contact
   {
      position:relative;
      padding:20px 0;
   }

   section.contact .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.contact .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.contact .container .content .contact
   {
      flex-basis:100%;
   }

   section.contact .container .content .contact h3
   {
      font-size:3em;
      color:#3c3b3a;
   }

   section.contact .container .content .contact p
   {
      font-size:1.25em;
      line-height:2em;
      color:#3c3b3a;
      font-weight:400;
      padding:20px 0;
   }

   section.contact .container .content .img
   {
      flex-basis:100%;
      text-align:center;
   }

   section.contact .container .content .img img
   {
      width:75%;
   }

   section.contact .container .content .from
   {
      flex-basis:100%;
   }

   section.contact .container .content .from .form-contact
   {
      background:#26a682;
      padding:30px;
      border-radius:20px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
   }

   section.contact .container .content .from .form-contact h3
   {
      color:#f2f2f2;
      font-weight:600;
      font-size:2em;
   }

   section.contact .container .content .from .form-contact label
   {
      display:inline-block;
      width:100%;
      color:#f2f2f2;
      font-weight:200;
      margin:0 0 5px;
   }

   section.contact .container .content .from .form-contact div
   {
      margin:10px 0 0;
   }

   section.contact .container .content .from .form-contact input
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:10px 15px;
      outline:none;
      border:none;
      border-radius:20px;
   }

   section.contact .container .content .from .form-contact .submit
   {
      text-align:right;
   }

   section.contact .container .content .from .form-contact input[type="submit"]
   {
      background:#3c3b3a;
      color:#f2f2f2;
      font-weight:600;
      font-size:24px;
      margin-top:10px;
      padding:10px 35px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
      width:unset;
   }

   section.contact .container .content .from .form-contact textarea
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:10px 15px;
      outline:none;
      border:none;
      border-radius:20px;
   }

   section.map
   {
      position:relative;
      padding:20px 0 0;
   }

   section.map .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.map .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.map .container .content .text
   {
      flex-basis:100%;
   }

   section.map .container .content .text h3
   {
      color:#3c3b3a;
      font-size:2.2em;
   }

   section.map .container .content .text p
   {
      font-size:1.5em;
      color:#3c3b3a;
      font-weight:400;
      margin:20px 0;
   }

   section.map .container .content .text ul.nav
   {
      list-style:none;
   }

   section.map .container .content .text ul.nav li
   {
      font-size:1em;
      margin:0 0 20px;
   }

   section.map .container .content .map
   {
      flex-basis:100%;
   }

   section.map .container .content .map .fr
   {
      width:100%;
   }

   section.map .container .content .map .fr iframe
   {
      width:100%;
   }

   section.footer
   {
      position:relative;
      background:#3c3b3a;
      padding:20px 0;
   }

   section.footer .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.footer .container .content
   {
      text-align:center;
   }

   section.footer .container .content p
   {
      color:#f2f2f2;
      font-size:24px;
   }

   section.footer .container .content ul
   {
      display:flex;
      justify-content:center;
      align-items:center;
      list-style:none;
      padding:10px 0 0;
   }

   section.footer .container .content ul li
   {
      margin:0 5px;
   }

   section.footer .container .button img
   {
      width:40%;
   }

   section.footer .container .button
   {
      position:absolute;
      bottom:50%;
      transform:translateY(50%);
      right:5%;
      text-align:center;
      color:#f2f2f2;
      font-size:12px;
   }

   section.footer .container .button a
   {
      text-decoration:none;
      color:#fff;
   }
}

@media screen and (min-width: 1024px) {
   html
   {
      scroll-behavior:smooth;
   }

   section.top
   {
      position:relative;
      background:#3c3b3a;
   }

   section.top .container
   {
      max-width:1440px;
      margin:auto;
      padding:0 20px;
   }

   section.top .container .content
   {
      display:flex;
      flex-wrap:wrap;
      align-items:center;
   }

   section.top .container .content .logo
   {
      flex-basis:20%;
      text-align:center;
   }

   section.top .container .content .menu
   {
      text-align:center;
      flex-basis:80%;
      position:relative;
   }

   section.top .container .content .menu nav
   {
      position:relative;
      display:block;
   }

   section.top .container .content .menu nav ul
   {
      list-style:none;
      display:flex;
      justify-content:flex-end;
   }

   section.top .container .content .menu nav ul li
   {
      margin:0 20px;
   }

   section.top .container .content .menu nav ul li a
   {
      text-decoration:none;
      font-size:24px;
      color:#f2f2f2;
   }

   section.top .container .content .menu nav ul li:nth-child(3) a
   {
      font-weight:600;
   }

   section.top .container .content .logo img
   {
      width:30%;
   }

   section.contact
   {
      position:relative;
      padding:50px 0;
   }

   section.contact .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.contact .container .content
   {
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
   }

   section.contact .container .content .contact
   {
      flex-basis:60%;
   }

   section.contact .container .content .contact h3
   {
      font-size:4.5em;
      color:#3c3b3a;
   }

   section.contact .container .content .contact p
   {
      font-size:1.35em;
      line-height:2em;
      color:#3c3b3a;
      font-weight:400;
      padding:20px 0;
   }

   section.contact .container .content .img
   {
      flex-basis:100%;
      text-align:center;
   }

   section.contact .container .content .img img
   {
      width:75%;
   }

   section.contact .container .content .from
   {
      flex-basis:35%;
   }

   section.contact .container .content .from .form-contact
   {
      background:#26a682;
      padding:30px;
      border-radius:20px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
   }

   section.contact .container .content .from .form-contact h3
   {
      color:#f2f2f2;
      font-weight:600;
      font-size:3em
   }

   section.contact .container .content .from .form-contact label
   {
      display:inline-block;
      width:100%;
      color:#f2f2f2;
      font-weight:200;
      margin:0 0 10px;
      font-size: 24px;
   }

   section.contact .container .content .from .form-contact div
   {
      margin:10px 0 0;
   }

   section.contact .container .content .from .form-contact input
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:15px 20px;
      outline:none;
      border:none;
      border-radius:20px;
      font-size: 24px;
      font-weight: 400;
   }

   section.contact .container .content .from .form-contact .submit
   {
      text-align:right;
   }

   section.contact .container .content .from .form-contact input[type="submit"]
   {
      background:#3c3b3a;
      color:#f2f2f2;
      font-weight:600;
      font-size:24px;
      margin-top:10px;
      padding:10px 35px;
      box-shadow:5px 5px 15px rgba(0,0,0,0.5);
      width:unset;
   }

   section.contact .container .content .from .form-contact textarea
   {
      display:inline-block;
      width:100%;
      color:#3c3b3a;
      font-weight:200;
      padding:10px 20px;
      outline:none;
      border:none;
      border-radius:20px;
      font-size: 24px;
   }

   section.map
   {
      position:relative;
      padding:20px 0;
   }

   section.map .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.map .container .content
   {
      display:flex;
      flex-wrap:wrap;
   }

   section.map .container .content .text
   {
      flex-basis:50%;
   }

   section.map .container .content .text h3
   {
      color:#3c3b3a;
      font-size:4.5em;
   }

   section.map .container .content .text p
   {
      font-size:2em;
      color:#3c3b3a;
      font-weight:400;
      margin:20px 0;
   }

   section.map .container .content .text ul.nav
   {
      list-style:none;
   }

   section.map .container .content .text ul.nav li
   {
      font-size:1.5em;
      margin:0 0 20px;
   }

   section.map .container .content .map
   {
      flex-basis:50%;
   }

   section.map .container .content .map .fr
   {
      width:100%;
   }

   section.map .container .content .map .fr iframe
   {
      width:100%;
   }

   section.footer
   {
      position:relative;
      background:#3c3b3a;
      padding:20px 0;
   }

   section.footer .container
   {
      max-width:1440px;
      margin:0 auto;
      padding:0 20px;
   }

   section.footer .container .content
   {
      text-align:center;
   }

   section.footer .container .content p
   {
      color:#f2f2f2;
      font-size:24px;
   }

   section.footer .container .content ul
   {
      display:flex;
      justify-content:center;
      align-items:center;
      list-style:none;
      padding:10px 0 0;
   }

   section.footer .container .content ul li
   {
      margin:0 5px;
   }

   section.footer .container .button img
   {
      width:40%;
   }

   section.footer .container .button
   {
      position:absolute;
      bottom:50%;
      transform:translateY(50%);
      right:5%;
      text-align:center;
      color:#f2f2f2;
      font-size:18px;
   }

   section.footer .container .button a
   {
      text-decoration:none;
      color:#fff;
   }
}